.available_cities{
    font-size: 2rem;
}
.mini_city_container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    
}
.mini_city_container:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-8px);
    transition: all .3s ease-out;
}